@font-face {
    font-family: 'xd';
    src: url('/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype'),
         url('/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('woff');
}
* {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: wheat;
    font-family:"xd";
}

.container {
    display: flex;
    gap: 20px;
    perspective: 1000px;
}

.card {
    background-color: rgb(49, 67, 77);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 300px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card img {
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.card h1 {
    margin: 0;
    font-size: 24px;
}

.card h2 {
    margin: 0;
    font-size: 15px;
}

.card p {
    margin: 10px 0 0;
    font-size: 15px;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-back {
    background-color: rgb(49, 67, 77);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.back {
    width: 50px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back:hover {
    background-color: rgb(255, 0, 0);
}
