html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.idea-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.idea-form h2 {
    margin: 0 0 10px;
}

.idea-form input,
.idea-form textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.idea-form textarea{
    width: 700px;
    height: 250px;
}

.idea-form button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.idea-form button:hover {
    background-color: #2980b9;
}

.notification {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: #2ecc71;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: transform 0.5s ease, right 0.5s ease, top 0.5s ease;
}

.notification.show {
    display: block;
}

.envelope {
    display: none;
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.envelope:before,
.envelope:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.envelope:before {
    bottom: 100%;
    left: 0;
    border-width: 0 50px 30px 50px;
    border-color: transparent transparent #fff transparent;
}

.envelope:after {
    top: 100%;
    left: 0;
    border-width: 30px 50px 0 50px;
    border-color: #fff transparent transparent transparent;
}

@keyframes sendAnimation {
    0% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
    50% {
        transform: scale(0.5) translateX(50vw);
        opacity: 0.5;
    }
    100% {
        transform: scale(0.1) translateX(100vw);
        opacity: 0;
    }
}
